<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>
For: <%= @post.title %>

<table>
  <thead>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
          <p class="lead"><%= comment.body %></p>
          <p><small>Submitted <strong><%= time_ago_in_words(comment.created_at) %> ago</strong> by <%= comment.post.user.name %></small></p><br>
    <div class="btn-group">
       <% if comment.user == current_user %>
        <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-default"%><br>
        <% end %>

     </div>

  </tbody>
</table>

<br>
<% end %>
<%= link_to 'New Comment', new_comment_path %>
