
<li><%= @comment.body %></li>

<!-- <p id="notice"><%= notice %></p>



<p>
  <strong>Body:</strong>
  <%= @comment.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p> -->

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Destroy', @comment, method: :delete, data: { confirm: 'Are you sure?' } %>
