<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </div>
  <div class="comment">
    <%= f.label :comment %><br>
    <%= f.text_area :comment %>
  </div>
  <div class="video">
    <%= f.label :video %><br>
    <%= f.text_field :video %>
  </div>
  <div class="genre">
    <%= f.label :post_genre %><br>
    <%= f.text_field :post_genre %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
