<h3>Filter Posts:</h3>

<!-- <div class="fluid">
  <%= form_tag("/posts", method: "get") do %>
    Genre: <%= select_tag "genre", options_from_collection_for_select(@genres, "id", "name"), include_blank: false %>
    <%= submit_tag "Filter" %>
  <% end %> -->

  <%= form_tag '/posts', :method => :get do %>
  Genre: <%= select_tag "genre", options_from_collection_for_select(@genres, "id", "name"), include_blank: false %>
  <%= submit_tag 'Filter' %>
      <% end %>

    <h3>Click the Button to see all Soundclouds! </h3>
    <%= button_tag "View Videos", class: "view-videos" %>

    <div id="video-dom">
    </div>


<% @posts.each do |post| %>
  <div class="link row clearfix">
    <h2>
        <%= link_to post.title, post %><br>
        <small class="author">Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %></small><br>
        <small class= "genre">
          Genre: <% post.genres.each do |genre| %>
                      <%= genre.name %>
                  <% end %></small>
    </h2>
<div class="btn-group">
      <a class="btn btn-default btn-sm" href="<%= post.url %>">Visit Link</a>
      <%= link_to like_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-up"></span>
      Upvote
      <%= post.get_upvotes.size %>
      <% end %>
      <%= link_to dislike_post_path(post), method: :put, class: "btn btn-default btn-sm" do %>
      <span class="glyphicon glyphicon-chevron-down"></span>
      Downvote
      <%= post.get_downvotes.size %>
       <% end %>
    </div>
   </div>
  <% end %>
