<h1>Popular Sets (Gig size of 250 people or more!)</h1>
<% @posts.each_with_index do |post, i| %>
  <div class="link row clearfix">
    <h2>
    <%=link_to post.title, post %><br>
    <small class="author">Submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %></small><br>
        <small class= "genre">
        Genre: <% post.genres.each do |genre| %>
              <%= genre.name %>
              <% end %><br>
        Audience Size: <%= post.audience %>
            <% end %>
